/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div.box{
    border: 2px solid black;
    width: 80%;
    height: fit-content;
    background-color: rgb(183, 181, 181);
    padding: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: 500ms linear;
  
}
section div.box p.p{
    color:crimson;
    padding: 20px 0;
}
section div.box:hover{
transform: translateY(-12px);
}
section div.line{
    outline: 2px solid red;
    outline-offset: 3px;
}
section div.box p.d{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 4px;
} */