*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div.box{
    border: 2px solid black;
    width: 80%;
    height: fit-content;
    background-color: rgb(183, 181, 181);
    padding: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
section div.box p{
    color:crimson;
}